@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
    ),
  ));
}
html.dark-theme {
  @include mat.theme((
    color: (
      theme-type: dark,
    ),
  ));
}

:root {
  --my-bg: #f6fafb;
  --my-card-bg: #fff;
  --my-text: #222;
}
html.dark-theme {
  --my-bg: #181818;
  --my-card-bg: #232323;
  --my-text: #f5f5f5;
}

body, html {
  background: var(--my-bg) !important;
}